* {
  margin: 0;
  padding: 0;
}

.login {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.login-head {
  display: flex;
}


.login-form-div {
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 5px #280C08;
  background-color: #3c1712;
  height: 500px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-form {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
}

.login-form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  gap: 15px;
}

.login-form input {
  border-radius: 10px;
  align-items: center;
  height: 40px;
  width: 320px;
  font-size: large;
  padding-left: 1rem;
  color: #361413;
  font-weight: 600;
  background: #ffffff;
  box-shadow: 0 0px 10px #1b0908;
  border: none;
  outline: none;
}

.login-form input::placeholder {
  font-weight: normal;
  color: #57211f;
  font-size: medium;
}

.login-form-submit {
  border-radius: 10px !important;
  color: #361413 !important;
  font-size: 22.5px !important;
  font-weight: bold !important;
  margin: 5px 0 10px 0 !important;
  width: 150px !important;
  height: 45px !important;
  padding-left: 0rem !important;
  background-color: #ffa40c !important;
}

.login-form-submit:hover {
  box-shadow: 0 0 20px #1b0908;
  background-color: #ffc053 !important;
}

.login-form-submit:active {
  box-shadow: none;
  background-color: #e79200 !important;
}

.other-login {
  color: #ffffff;
  font-size: 16px;
  text-shadow: 3px 3px 3px #1b0908;
  font-weight: 600;
}

.other-login:hover {
  text-shadow: 3px 3px 3px #1b0908;
  color: #ffa40c;
}

.other-login:active {
  text-shadow: none;

  color: #ffa40c;
}

