/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.departments{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    background-image:url("../../../public/Images/airplaneimage3.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
} */

.feedback-page-main-div {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: black;
}

.feedback-page-elements-div-1 {
  height: calc(50vh - 35px);
  width: 25vw;
  background-size: 25vw calc(50vh - 35px);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.feedback-page-elements-div-2 {
  height: calc(50vh - 35px);
  width: 33.33vw;
  background-size: 33.33vw calc(50vh - 35px);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.feedback-page-elements-div-2 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  line-height: 0;
  height: calc(50vh - 35px);
  width: 33.33vw;
  margin: 0;
  padding: 0;
}

.feedback-page-elements-div-1 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  line-height: 0;
  height: calc(50vh - 35px);
  width: 25vw;
  margin: 0;
  padding: 0;
}

.feedback-page-elements-div-2 p:hover,
.feedback-page-elements-div-1 p:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.feedback-page-elements-div-2 p:active,
.feedback-page-elements-div-1 p:active {
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}
