.flight-details-page{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 1vh 1vw;
    height: 100vh;
    width: 100vw;
}
.flight-details-ticket{
    padding: 4vh 1vw;
    width: 70%;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flight-details-ticket-header, .flight-details-ticket-location{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.flight-details-ticket-location h1{
    color: white;
}