*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    /* background: url("../../Images/pexels-martin-dickson-2366581.jpg"); */
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-between;
    padding-bottom: 15px;
    position: absolute;

    /* background-color: aqua; */
    /* padding: 20px; */
    /* flex-direction: column; */
    /* background-size: 100%; */
    /* background-position: top center; */
    /* transform: skewX(-10deg); */
    /* clip-path: circle(30%); */
}
.home img{
    /* background: url("../../Images/pexels-martin-dickson-2366581.jpg"); */
    /* background-position: top center; */
    /* transform: skewX(10deg); */
    /* clip-path: polygon(0% 50%,50% 0%,100% 50%,50% 100%); */
    /* width: 200px; */
    /* object-position: bottom center; */
    /* transform: rotate(-45deg); */
    position: relative;
    flex: 6;
    height: 90%;
    background-color: blue;
    top: 0% !important;
    /* bottom: 20px!important; */
}
.home h1{
    font-size: 60px;
    flex: 4;
    white-space: no-wrap;
    font-weight: 500;
    text-align: center;
    padding-top: 160px;
    color: #2B3A56;
    margin-right: 100px;
    /* background-color: bisque; */
}